<section class="container">
    <style>
        .container{
            position: relative;
            min-height: 100vh;
            margin-top: 1.5em;
            margin-bottom: 2em;
            padding-bottom: 10em;
            padding-top: 1.5em;
        }
    </style>
    <div >
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{this.product.Name}} <br><br> <img src="/product-images/{{this.product._id}}.jpg" alt="{{this.product.Name}}" style="width: 100px; height: 100px"></td>
                        <td>₹{{this.product.Price}}/pk</td>
                        <td>
                            <button class="cart-item-count remove-item mr-3" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', -1)">-</button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class="cart-item-count add-item ml-3" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', 1)">+ </button>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', 0)">Remove</a>
                        </td>
                    </tr>
                 {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right mb-2 pr-5">
            <h3 class="float-right mt-5 mr-5">Sub Total ₹<span id="total">{{totalAmount}}</span></h3>
            {{#if emptyCart}}
            {{!-- <a href="/place-order/" class="btn btn-lg btn-success" style="width: 100%" disabled>Buy</a> --}}
            <button type="button" class="btn btn-secondary btn-lg btn-success" style="width: 100%" disabled>Buy</button>
            {{else}}
            <a href="/place-order/" class="btn btn-lg btn-success" style="width: 100%">Buy</a>
            {{!-- <button type="button" class="btn btn-secondary btn-lg btn-success" style="width: 100%">Buy</button> --}}
            {{/if}}
        </div>      
    </div>
</section>